<link rel="stylesheet" href="/Css/Login.css" />
<title>Forgot Password</title>
<%- layout('layouts/boilerplate') %>
<div class="container">
  <form action="/password/forgot" method="post">
    <div class="form-container">
      <h2>Registered Email</h2>
      <div class="input-container">
        <input type="email" id="email" name="email" required placeholder=" "/>
        <label for="email">Email</label>
      </div>
      <button type="submit">Verify</button>
    </div>
  </form>
</div>
