<%- layout('layouts/boilerplate') %>
<title>Something went Wrong</title>
<link rel="stylesheet" href="/Css/genericError.css" />

<div class="container">
  <div class="error-page">
    <div class="error-icon">&#9888;</div>
    <h1>Oops!</h1>
    <h2>Something Went Wrong</h2>
    <p>
      We're sorry, but something went wrong on our end. Please try again later.
    </p>
    <a href="/" class="btn">Go Back Home</a>
  </div>
</div>
